{% extends 'wallet/base.html' %}

{% block title %}Inicio - Alke Wallet{% endblock %}

{% block content %}
<div class="card card-base wallet-card shadow-lg p-4" style="max-width: 500px; width: 100%;">
    <div class="card-body">
        <h2>Bienvenido a Alke Wallet</h2>
        <p>Este proyecto consiste en el desarrollo de una aplicación web en Django denominada Alke Wallet, cuyo objetivo es gestionar información persistente mediante el uso de modelos ORM, relaciones entre entidades y operaciones CRUD.</p>
    </div>
</div>
{% endblock %}